
  
@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%;
}

to {
    margin-left: 0%;
    width: 100%;
}
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movies li {
    animation-duration: 3s;
    animation-name: slidein;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background: #272727;
}

.movies li img {
    max-width: 200px;
    border-radius: 15px;
}

.movies li h2 {
    color: white;
    font-size: 1.8 rem;
    padding: 15px;
    margin-top: auto;
}
